# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[xX]64/
[xX]86/
[Aa][Rr][Mm]/
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Other
*.userprefs
*.dbmdl
*.jfm
*.cache

# Exclude the following directory if you have a local database
App_Data/

# Environment variables
*.env
